<div >
	 <%= render 'shared/errors',object: @article  %>

	
		
<%= form_for(@article) do |f|%>
<table  >


<tr ><td><%= f.label :title %></td></tr>
<tr><td><%= f.text_field :title %></td></tr>
<tr><td><%= f.label :description %></td></tr>
<tr><td><%= f.text_area :description, rows: 6, cols:60 %></td></tr></br>
<tr><td>&nbsp;</td></tr>
<tr><td ><%= f.submit %></td></tr>
</table>
<% end %>


</div>