<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <div class="container-fluid">
       <row class="row">
         <div col-md-12>
        <%= render 'layouts/header' %>
        </div>
        <br/><br/><br/>
      </row>
           
      <row class="row">

         <div  class=" col-sm-9 col-lg-10" >
          <br/><br/><br/>
                 <%= render 'layouts/flash' %>
          <%= yield %>
         </div>
         <div class=" col-sm-3 col-lg-2"  style="padding-top: 80px;" >
         
            <div  style='border-left: 1px solid white; height: 480px;'>
                 <%= render 'layouts/sidebar' %>
             </div>
         </div> 
         
      </row>
    </div>
  </body>

  <footer>
  <br/><br/>
  <hr>
  <p id='page-footer' style="text-align: center;">
    Copyright &copy; 2020
    <%= link_to 'Blog_&_ROR.com','#' %>
  </p>
</footer>



</html>
